[Desktop Entry]
Name=Vesktop
Exec=AppRun --no-sandbox --use-tray-icon %U
Terminal=false
Type=Application
Icon=vencorddesktop
StartupWMClass=Vesktop
X-AppImage-Version=0.3.3
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
